<div class="content-widget">
    <!-- Close -->
    <div (click)="onDelete()">
        <span class="fa fa-times close"></span>
    </div>

    <!-- Select currency step -->
    <div *ngIf="widget.pickCCYState">
        <h4 class="widget-title">Pick a currency</h4>
        <div class="content-container">
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="primaryCcy">Primary</label>
                <div class="col-sm-9">
                    <select name="primaryCcy" id="primaryCcy" class="form-control" [(ngModel)]="widget.primaryCcy"
                        required>
                        <option value="" disabled selected>Please select</option>
                        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
                    </select>
                </div>

            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="secondaryCcy">Secondary</label>
                <div class="col-sm-9">
                    <select name="secondaryCcy" id="secondaryCcy" class="form-control" [(ngModel)]="widget.secondaryCcy"
                        required>
                        <option value="" disabled selected>Please select</option>
                        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
                    </select>
                </div>
            </div>
            <div class="btn-wraper">
                <button class="btn btn-primary" (click)="onPickCurrency()">Ok</button>
            </div>
        </div>
    </div>

    <!-- Trade step -->
    <div *ngIf="!widget.pickCCYState">
        <!-- Title -->
        <h4 class="widget-title no-border">
            <span class="widget-primary">{{ widget.primaryCcy }}</span>/{{ widget.secondaryCcy }}
            <span class="fa fa-exchange-alt exchange" (click)="onCCYChange()"></span>
        </h4>
        <!-- Rates -->
        <div class="rates-container">
            <div>
                <span class="widget-subtitle">SELL: </span>
                <span class="rate">{{ widget.sellRate | number:'1.1-2' }}</span>
                <span class='fa'
                    [ngClass]="{'fa-caret-up rate-up': sellRateTrend === 'up', 'fa-caret-down rate-down': sellRateTrend === 'down' }"></span>
            </div>
            <div>
                <span class="widget-subtitle">BUY: </span>
                <span class="rate">{{ widget.buyRate | number:'1.1-2' }}</span>
                <span class="fa"
                    [ngClass]="{'fa-caret-up rate-up': buyRateTrend === 'up', 'fa-caret-down rate-down': buyRateTrend === 'down' }"></span>
            </div>
        </div>
        <div class="content-container">
            <!-- Form  -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="amount">Amount</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="amount" placeholder="Type the amount"
                        [(ngModel)]="widget.notional" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label" for="primaryCcy">Tenor</label>
                <div class="col-sm-9">
                    <select name="tenor" id="tenor" class="form-control" [(ngModel)]="widget.tenor" required>
                        <option value="" disabled selected>Please select</option>
                        <option *ngFor="let tenor of tenors" [value]="tenor">{{ tenor }}</option>
                    </select>
                </div>
            </div>
            <!-- Buttons  -->
            <div class="btns-wrapper">
                <button class="btn btn-primary" (click)="onSell()">Sell</button>
                <button class="btn btn-success" (click)="onBuy()">Buy</button>
            </div>
        </div>
    </div>
</div>