.fx-not-found-container {
  background-color: rgb(141, 213, 170);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fx-not-found-logo {
  margin-bottom: 40px;
  width: 395px;
}

.fx-not-found-text {
  font-size: 16px;
  color: #7c7c7c;
  margin-left: 60px;
}
