<div class="screen-full-height">
  <aside class="col-md-6 login-logo-container container-center">
    <img
      class="fx-grayscale-logo"
      alt="fx-logo"
      src="./assets/img/logo-grayscale.svg"
    />
  </aside>
  <main class="col-md-6">
    <article class="container-center screen-full-height">
      <div class="content">
        <h1 class="title title-border">Register a new account</h1>
        <form id="register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <p class="mb-3">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="inputUsername"
              formControlName="username"
              placeholder="username"
              autocomplete="username"
              [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            />
            <span
              *ngIf="submitted && f['username'].errors"
              class="invalid-feedback"
            >
              <span *ngIf="f['username'].errors['required']"
                >Username is required!</span
              >
            </span>
          </p>
          <p class="mb-3">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="inputEmail"
              formControlName="email"
              placeholder="email address"
              [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            />
            <span
              *ngIf="submitted && f['email'].errors"
              class="invalid-feedback"
            >
              <span *ngIf="f['email'].errors['required']">
                Email is required!
              </span>
            </span>
          </p>
          <p class="mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="inputPassword"
              formControlName="password"
              placeholder="password"
              autocomplete="new-password"
              [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <span
              *ngIf="submitted && f['password'].errors"
              class="invalid-feedback"
            >
              <span *ngIf="f['password'].errors['required']">
                Password is required!
              </span>
              <span *ngIf="f['password'].errors['minlength']">
                Password must be at least 6 characters!
              </span>
            </span>
          </p>
          <p class="mb-3">
            <label for="password">Confirm password</label>
            <input
              type="password"
              class="form-control form-control-sm"
              id="inputConfirmPassword"
              formControlName="confirmPassword"
              placeholder="confirm password"
              autocomplete="new-password"
              [ngClass]="{
                'is-invalid': submitted && f['confirmPassword'].errors
              }"
            />
            <span
              *ngIf="submitted && f['confirmPassword'].errors"
              class="invalid-feedback"
            >
              <span *ngIf="f['confirmPassword'].errors['required']">
                Password confirmation is required!
              </span>
            </span>
          </p>
          <button
            [disabled]="loading"
            type="submit"
            class="btn btn-primary btn-block"
          >
            Register
          </button>
          <p class="text-container">
            <span>Already have an account?&nbsp;</span>
            <a [routerLink]="'/login'" class="btn btn-link">Login</a>
          </p>
        </form>
      </div>
    </article>
  </main>
</div>
