.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo-container {
    background-color: rgb(141,213,170);
}

.fx-grayscale-logo {
    width: 350px;
    height: 350px;
}

.content {
    width: 350px;
}

.icon {
    font-size: 24px;
    color: #dddddd;
    margin-right: 15px;
    line-height: 31px;
}

.col {
    padding: 0;
}

.invalid-feedback {
    font-weight: bold;
}

.btn-link {
    padding: 0;
}

.text-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}