.content-widget {
  width: 100%;
  position: relative;
}

.widget-title {
  padding: 20px 20px 10px;
  border-bottom: 1px solid #DDDDDD;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.widget-subtitle {
  font-size: 20px;
  color: #7C7C7C;
  font-weight: bold;
}

.widget-primary {
  font-size: 24px;
  color: #373A3C;
}

.widget-primary-currency {
  color: #373A3C;
  font-size: 24px;
}

.label-long {
  width: 160px;
  justify-content: flex-start;
}

.label-short {
  width: 70px;
  justify-content: flex-start;
}

.form-control {
  display: flex;
  flex-grow: 1;
}

.btn-wraper {
  display: grid;
  justify-content: flex-end;
}

.btns-wrapper {
  display: flex;
  justify-content: space-between;
}

.rates-container {
  display: flex;
  justify-content: space-between;
  background: #F2F2F2;
  padding: 10px 20px;
}

.rate-up {
  color: green;
}

.rate-down {
  color: red;
}

.content-container {
  padding: 20px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15px;
}

.rate {
  font-size: 30px;
  font-weight: bold;
}

.no-border {
  border:0;
}