<div class="content-widget">
  <!-- Close -->
  <span class="fa fa-times close" (click)="onDelete()"></span>

  <!-- Select currency step -->
  <div *ngIf="widget.pickCCYState">
    <h4 class="widget-title">Pick a currency</h4>
    <div class="content-container">
      <div class="form-inline form-inline-long form-group">
          <label class="label-long" for="primaryCcy">Primary</label>
          <select name="primaryCcy" id="primaryCcy" class="form-control" [(ngModel)]="widget.primaryCcy" required>
            <option value="" disabled selected>Please select</option>
            <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
          </select>
        </div>
        <div class="form-inline form-inline-long form-group">
          <label class="label-long" for="secondaryCcy">Secondary</label>
          <select name="secondaryCcy" id="secondaryCcy" class="form-control" [(ngModel)]="widget.secondaryCcy" required>
            <option value="" disabled selected>Please select</option>
            <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
          </select>
        </div>
        <div class="btn-wraper">
          <button class="btn btn-primary" (click)="onPickCurrency()">Ok</button>
        </div>
    </div>
  </div>

  <!-- Trade step -->
  <div *ngIf="!widget.pickCCYState">
    <!-- Title -->
    <h4 class="widget-title no-border">
      <span class="widget-primary">{{ widget.primaryCcy }}</span>/{{ widget.secondaryCcy }}
      <span class="fa fa-exchange-alt exchange" (click)="onCCYChange()"></span>
    </h4>
    <!-- Rates -->
    <div class="rates-container">
      <div>
        <span class="widget-subtitle">SELL: </span>
        <span class="rate">{{ widget.sellRate | number:'1.1-2' }}</span>
        <span class='fa' [ngClass]="{'fa-caret-up rate-up': sellRateTrend === 'up', 'fa-caret-down rate-down': sellRateTrend === 'down' }"></span>
      </div>
      <div>
        <span class="widget-subtitle">BUY: </span>
        <span class="rate">{{ widget.buyRate | number:'1.1-2' }}</span>
        <span class="fa" [ngClass]="{'fa-caret-up rate-up': buyRateTrend === 'up', 'fa-caret-down rate-down': buyRateTrend === 'down' }"></span>
      </div>
    </div>
    <div class="content-container">
      <!-- Form  -->
      <div class="form-inline form-group">
        <label class="label-short" for="amount">Amount</label>
        <input type="number" class="form-control" id="amount" placeholder="Type the amount" [(ngModel)]="widget.notional"
          required>
      </div>
      <div class="form-inline form-inline-short form-group">
        <label class="label-short" for="primaryCcy">Tenor</label>
        <select name="tenor" id="tenor" class="form-control" [(ngModel)]="widget.tenor" required>
          <option value="" disabled selected>Please select</option>
          <option *ngFor="let tenor of tenors" [value]="tenor">{{ tenor }}</option>
        </select>
      </div>
      <!-- Buttons  -->
      <div class="btns-wrapper">
        <button class="btn btn-primary" (click)="onSell()">Sell</button>
        <button class="btn btn-success" (click)="onBuy()">Buy</button>
      </div>
    </div>
  </div>
</div>
